.ClueSquare {
    width: 100px;
    height: 100px;
    background-color:mediumaquamarine;
    color: white;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3em;
}